
.wrapperImage,
.wrapperStatus {
    width: calc(99.9% - 0rem) !important;
    display: flex;
    flex-direction: column;
}

.wrapperImage img,
.wrapperStatus img {
    max-width: 200px;
    margin: 1rem 0;
    border-radius: 5%;
}

.widget-form input {
   margin-right: 10px;
}

.input-form{
    width: calc(49.95% - 2.875rem);
    margin: 0px 10px 0px 0px !important;
}

.form-buttons-layout {
  margin: 10px 0px 0px 0px;
}

@media all and (max-width: 1100px) {
    .widget-view2.editing .widget-grid {
        display: none;
    }
}

